/* Overall Projects Page Layout */
.projects-page {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #024d91;
    height: 100vh;
    overflow: hidden;
}

/* Header Section */
.projects-header {
    padding: 2rem 0;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 0 0 auto;
}


.projects-carousel {
    flex: 2 0 auto;
    /* Allow growth but maintain max height */
    max-height: 500px;
    /* Set a max height for the carousel section */
    overflow-y: hidden;
    background: linear-gradient(to bottom, #e3f2fd, #0d7fdc);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Other Details Section */
.projects-other-details {
    background-color: #f1f1f1;
    padding: 2rem;
    text-align: center;
    flex: 1 1 auto;
    overflow-y: auto;
    margin-bottom: 60px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .projects-header {
        padding: 1rem;
    }

    .projects-carousel {
        max-height: 400px;
    }

    .projects-other-details {
        padding: 1rem;
    }
}