@media (max-width: 768px) {
    .home-container {
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
        padding-top: 20px;
    }
}

.home-container {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    padding: 20px;
    gap: 20px;
}

/* Left column: Content */
.home-content {
    flex: 3;
    /* Adjust width as a proportion (3 parts out of 5) */
    text-align: left;
    /* margin-top: 30px; */
    padding: 10px;
}

.welcome-message {
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #024d91;
    display: flex;
    justify-content: left;
    align-items: center;

}

/* Waving hand animation */
.waving-hand {
    display: inline-block;
    animation: wave 1.5s infinite;
    transform-origin: 70% 70%;
    /* Adjust origin to make the wave more natural */
    font-size: 3.5rem;
    /* Adjust size to match the message */
}

/* Keyframes for the waving animation */
@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}



@media (max-width: 768px) {
    .home-content {
        margin: 0;
        padding-top: 10px;
    }
}


/* Right column: Profile picture container */
.profile-pic-container {
    flex: 2;
    /* Adjust width as a proportion (2 parts out of 5) */
    display: flex;
    justify-content: center;
    margin-left: -30px;
}

/* Profile picture styling */
.folio-pic {
    margin-top: 100px;
    width: 300px;
    height: auto;
    border-radius: 50%;
    border: 3px solid #ebe7e7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.name {
    color: #024d91;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}