.home-container {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr;
    margin: 80px;
    gap: 20px;
}

.top-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.bottom-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.home-content {
    margin-top: 50px;
    flex: 2;
    text-align: left;
    color: #024d91;
}

.profile-pic-container {
    flex: 3;
    justify-content: center;
    margin-top: 100px;
}

.welcome-message {
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: left;
    align-items: center;
}

.welcome-message-secondary {
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

/* Waving hand animation */
.waving-hand {
    display: inline-block;
    animation: wave 1.5s infinite;
    transform-origin: 70% 70%;
    /* Adjust origin to make the wave more natural */
    font-size: 3.5rem;
    /* Adjust size to match the message */
}

/* Keyframes for the waving animation */
@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.folio-pic {
    width: 300px;
    border-radius: 50%;
    border: 3px solid #ebe7e7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.name {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.typewriter-effect {
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.social-media-bar-container {
    flex: 0;
    width: 100%;
    background-color: #024d91;
}

@media (max-width: 768px) {
    .home-container {
        grid-template-rows: auto auto auto;
        /* Three rows for smaller screens */
        grid-template-columns: 1fr;
        /* Single column layout */
        height: auto;
        margin-top: 50px;
        margin-left: 40px;
    }

    .top-row,
    .profile-pic-container,
    .bottom-row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .profile-pic-container {
        margin-top: 20px;
    }

    .folio-pic {
        width: 200px;
    }
}