.about-page {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 60px;
    color: #024d91;
}

.about-header {
    text-align: center;
    font-weight: bold;
    padding: 2rem 0;
    font-size: 2.5rem;
    font-weight: bold;
}

.my-story-container {
    display: grid;
    margin-left: 80px;
    grid-template-columns: 3fr 2fr;
    gap: 10px;
    align-items: center;
}

.my-story-content {
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.5;
}

.my-story-content p {
    margin-left: 20px;
}

.my-story-graphic-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-story-graphic {
    max-width: 70%;
    height: auto;
}

@media (max-width: 768px) {
    .about-header {
        padding: 0px;
    }

    .my-story-container {
        display: block;
        height: auto;
        margin-left: 20px;
        margin-right: 10px;
        margin-bottom: 50px;
    }

    .my-story-graphic {
        display: none;
    }
}