.carousel-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
    background-color: #ffffff;
}

.carousel-card {
    width: 600px;
    background: linear-gradient(45deg, #7cb2ef, #1b2765);
    border-radius: 20px;
    border: #888 2px solid;
    overflow-y: auto;
    max-height: 576px;
    height: 576px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.carousel-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.carousel-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.carousel-card .card-body {
    padding: 20px;
    text-align: left;
}

.carousel-card .card-title {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

.carousel-card .card-text {
    font-size: 0.9rem;
    color: #f3efef;
    line-height: 1.5;
}


/* .react-multi-carousel-dot button {
    background-color: #888;
    border: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.react-multi-carousel-dot--active button {
    background-color: #333;

} */

/* .react-multi-carousel-arrow {
    background-color: #9c0909;
    color: #fff;
    border: none;
    opacity: 0.8;
    transition: opacity 0.3s ease;
} */

/* .react-multi-carousel-arrow:hover {
    opacity: 1;
}
    */


@media (max-width: 768px) {
    .carousel-card {
        width: 100%;
        margin: 0 auto;
    }

    .carousel-card img {
        width: 100%;
        height: auto;
        max-height: 120px;
    }
}