.social-media-bar {
    width: 100%;
    text-align: center;
}

.in-touch-message {
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #024d91;
    margin-bottom: 20px;
}

.icons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icon-link {
    transition: transform 0.3s ease, color 0.3s ease;
}

.icon-link:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 768px) {
    .in-touch-message {
        font-size: 1.5rem;
        font-weight: 800;
    }
}