.social-media-bar {
    flex: 0;
    width: 100%;
    text-align: center;
}

.connect-message {
    font-size: 1.2rem;
    color: #007bff;
    /* Adjust color as needed */
    margin-bottom: 10px;
}

.icons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icon-link {
    color: #333;
    /* Default icon color */
    font-size: 2rem;
    /* Adjust size as needed */
    transition: transform 0.3s ease, color 0.3s ease;
}

.icon-link:hover {
    color: #007bff;
    /* Hover color */
    transform: scale(1.2);
    /* Slight zoom on hover */
}